<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.bluecs.np">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Queries (for deep links / external apps) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="youtube" />
        </intent>
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="${applicationName}"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="BlueEra Nepal"
        android:largeHeap="true"

        android:requestLegacyExternalStorage="true">

<!--        &lt;!&ndash; ✅ Add WorkManager services/receivers here &ndash;&gt;-->
<!--        <receiver-->
<!--            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"-->
<!--            android:enabled="@bool/enable_system_alarm_service_default"-->
<!--            android:exported="false" />-->

<!--        <receiver-->
<!--            android:name="androidx.work.impl.background.systemjob.SystemJobService"-->
<!--            android:enabled="@bool/enable_system_job_service_default"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <!-- ✅ OneSignal Service -->
        <service
            android:name="com.onesignal.NotificationExtenderService"
            android:exported="false" />

        <!-- Workmanager Background Service -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
        </provider>

        <meta-data
            android:name="com.onesignal.NotificationLargeIcon"
            android:resource="@mipmap/ic_launcher" />

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDdU2Ji6dCQ4Hq0TbLHILxMsdR-M27Ie2g" />

        <!-- Google AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4151367085462604~1499765338" />

        <!-- Main Flutter Activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">

            <!-- Deep link intent-filters -->
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:scheme="https"-->
<!--                    android:host="blueera.ai" />-->
<!--                <data android:scheme="https" />-->
<!--            </intent-filter>-->

            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="false" />
<!--            https://api.blueera.ai/api/post-service/app/post/-->
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:scheme="https"-->
<!--                    android:host="blueera.ai"-->
<!--                    android:pathPrefix="/api/post-service/app/post/" />-->
<!--            </intent-filter>-->

            <!-- Friendly landing path with backend fallback to app/store -->
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:scheme="https"-->
<!--                    android:host="blueera.ai"-->
<!--                    android:pathPrefix="/app/post/" />-->
<!--            </intent-filter>-->

<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:scheme="https"-->
<!--                    android:host="prodapi.blueera.ai"-->
<!--                    android:pathPrefix="/app/BlueEraReferLink" />-->
<!--            </intent-filter>-->

<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:scheme="https"-->
<!--                    android:host="blueera.ai"-->
<!--                    android:pathPrefix="/" />-->
<!--            </intent-filter>-->

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="blueera.ai"
                    android:pathPrefix="/app" />
            </intent-filter>
            <!-- Deep Link sample -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Add optional android:host to distinguish your app
                     from others in case of conflicting scheme name -->
                <data android:scheme="https" android:host="blueera.ai" />
                <!-- <data android:scheme="sample" /> -->
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="blueera.ai"
                    android:pathPrefix="/app/video/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="blueera.ai"
                    android:pathPrefix="/app/short/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="blueera.ai"
                    android:pathPrefix="/app/job/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="blueera.ai"
                    android:pathPrefix="/app/profile/" />
            </intent-filter>

            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Dial Intent -->
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- uCrop Activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UCropTheme" />

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>