<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>BlueEra</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BlueEra</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSAppTransportSecurity</key>
    <true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
    <array>
       <string>fetch</string>
       <string>remote-notification</string>
       <string>processing</string>
        <string>voip</string>
    </array>

    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>ai.bluecs.app.videoUploadTask</string>
    </array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>This app uses the local network to discover and communicate with nearby devices.</string>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
    <key>FlutterDeepLinkingEnabled</key>
    <false/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>voip</string>
        <string>remote-notification</string>
        <string>processing</string>
    </array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Blue Era needs access to your camera to allow you to take photos for profile pictures, service documentation, or uploading images.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Blue Era needs access to your camera to allow you to take photos for profile pictures, service documentation, or uploading images.</string>
	<key>NSCameraUsageDescription</key>
    <string>Blue Era needs access to your camera to allow you to take photos for profile pictures, scan QR codes,service documentation, or uploading images.</string>
	<key>NSDocumentsFolderUsageDescription</key>
    <string>Blue Era needs access to your Documents folder to open, edit, and save files you choose to work with.</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>Blue Era would like access to your music library to enhance your experience with music-related features.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>Blue Era requires your location while using the app to help you find products available near you and to provide real-time tracking of riders delivering your orders.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Blue Era requires your location while using the app to help you find products available near you and to provide real-time tracking of riders delivering your orders.</string>
    <key>NSContactsUsageDescription</key>
    <string>Blue Era needs access to your contacts to help you connect with friends, share services, or autofill contact details.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Blue Era uses Face ID to quickly and securely authenticate you when logging in or accessing sensitive information.</string>
    <key>NSMicrophoneUsageDescription</key>
	<string>Blue Era uses access to your microphone to record audio.</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-4151367085462604~5043177104</string>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    <!-- Add for share_handler start -->
    <!-- The 'NSUserActivityTypes' key is only needed if you plan to use the recordSentMessage API allowing for conversations to show up as direct share suggestions -->
    <key>NSUserActivityTypes</key>
    <array>
        <string>INSendMessageIntent</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>ShareMedia-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            </array>
        </dict>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>This example listens for speech on the device microphone on your request.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This example recognizes words as you speak them and displays them. </string>
    <key>GoogleMapsApiKey</key>
    <string>AIzaSyDdU2Ji6dCQ4Hq0TbLHILxMsdR-M27Ie2g</string>
</dict>
</plist>
